*{
    margin:0;
    padding:0;
}

.principal{
    background-image: url("img/Background.png");
}

:root{
    --cor-principal:#FFFFFF;
    --cor-secundaria:#C0C0C0;
    --cor-do-botao:#19A77C;
    --cor-de-fundo:#2F6250;
}

body{
    background-color: var(--cor-de-fundo);
    color:var(--cor-principal);
}
.container{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;

}