*{
    margin:0;
    padding:0;
}

.principal{
    background-image: url("img/many-books-black-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

:root{
    --cor-principal:#FFFFFF;
    --cor-secundaria:#C0C0C0;
    --cor-do-botao:#19A77C;
    --cor-de-fundo:#000000;
}

body{
    background-color: var(--cor-de-fundo);
    color:var(--cor-principal);
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns:60% 40%;
    margin: 20px;
}

.container-caixa{
    padding:30px;
    margin: 10px;
    font-size: 30px;

}
.container-titulo{
    margin:10px;
    padding: 20px;
}
.secundario-imagem{
    width:80%;
    margin: -75px;
}
.secundario{
    align-items: center;
    margin:91 30em;
}

.descricao-titulo{
    margin: 40px;
}
.terciario-imagem{
    width: 30%;
    margin: -40px;

}
.container-terciario{
    height: 100vh;
    display: grid;
    grid-template-columns:50% 50%;
    margin: 230px;
}
.container-descricao{

}
    

